opencv-python==3.1.0.5
numpy==1.16.6
scipy==1.2.3
Fiona==1.8.13.post1
Pillow==9.3.0
joblib==0.14.1
pandas==0.24.2
geopandas==0.6.3
geojson==2.5.0
#multiprocessing
#sklearn
scikit-image==0.14.5
scikit-learn==0.20.4
flask==1.1.2
flask_restful==0.3.8
flask-cors==3.0.8
#request==2019.4.13
requests==2.23.0
