#slvj-window{
	width: 100%;
	min-height: 100%;
	z-index: 30;

	background: rgba(0,0,0,0.8);

	position: fixed;
	top: 0;
	left: 0;
}

#slvj-window,
#slvj-window *{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

#slvj-background-close{
	width: 100%;
	min-height: 100%;
	z-index: 31;

	position: fixed;
	top: 0;
	left: 0;
}

#slvj-back-lightbox{
	width: 700px;
	height: 540px;
	margin: auto;

	z-index: 32;
}

.slvj-lightbox{
	position: relative; 

	width: 100%;
	height: 100%;
	padding: 30px;
	margin: 0;

	background-color: #FFFFFF;

	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	   		border-radius: 10px;

	box-shadow: 0 2px 2px 2px rgba(0,0,0,0.3);
	z-index: 53;
}

#slvj-close-icon{
	background-image: url(../img/close-icon.png);
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;

	position: absolute;
	top: 10px;
	right: 10px;

	z-index: 551;
}

#slvj-close-icon:hover{
	cursor: pointer;
}