body
{
    font-family: helvetica, arial, sans-serif;
}
h2
{ 
    color: #04978D; 
}
pre span 
{
    color: red;
}
box-inline-block
{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 1em;
}
pre 
{
    background-color:lightgrey; 
    color: black; 
    padding: 10px;
}
table,th,td
{
    border:1px solid black;
    border-collapse:collapse;
}
.zui-table 
{ 
    border: solid 1px #DDEEEE; 
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 14px Arial, sans-serif;
}
.zui-table thead th 
{
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 12px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td 
{
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
